footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 22px;
  height: 41px;
  background-color: rgba(231, 233, 235, 0.5);
}

@media(min-width: 768px){
  .footer {
    height: 81px;
  }
}