header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-red);
  height: 167px;
  gap: 20px;

  .back {
    font-size: 1.5rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--back);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: -1px -1px 18px 0px rgba(0,0,0,0.75);
    margin-top: 10px;

  }
  img {
    border-radius: 30px;
  }
  h2 {
    color: white;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 52px;
  }
}

@media ( min-width: 768px ) {
  header {
    justify-content: space-between;

    .perfil {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      img {
        width: 90px;
        border-radius: 50%;
      }
      h2 {
        font-size: 1.55rem;
      }
    }
   
  }
}