<main>
  <app-header/>
  <div class="box-profissional">

    <div class="box">
      <img src="assets/barbeiro.jpg" alt="imagem ilustrativa de perfil de um barbeiro" width="120px">
      <h3>Anderson Vasc</h3>
      <img src="assets/play.png" alt="" width="25px">
    </div><!--box-->
    
    <div class="box">
      <img src="assets/barbeiro.jpg" alt="imagem ilustrativa de perfil de um barbeiro" width="120px">
      <h3>Anderson Vasc</h3>
      <img src="assets/play.png" alt="" width="25px">
    </div><!--box-->
   </div><!--box-profissional-->

   <div class="box-profissional">
     <div class="box">
       <img src="assets/barbeiro.jpg" alt="imagem ilustrativa de perfil de um barbeiro" width="120px">
       <h3>Anderson Vasc</h3>
       <img src="assets/play.png" alt="" width="25px">
   </div><!--box-->
   </div><!--box-profissional-->
   <app-footer/>
</main>