<main>
  <app-header/>

  <div class="container-services">
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
    <div class="box-services">
      <input type="checkbox">
      <div class="text">
        <h4>Corte Degrade</h4>
        <p>OBS : NO CORTE, CASO QUEIRA <br>
          SOBRANCELHA TAMBÉM ADICIONE SEPARADO</p>
        </div>
        <span>R$ 25,00</span> 
    </div>
  </div>
</main>