<main>
  <app-header/>
  <div class="localizacao">
    <img src="../../../assets/mapa.png" alt="Imagem estatica do mapa">
    <button>COMO CHEGAR</button>

    <div class="text">
      <p>
        Nosso Endereço 
        Avenida Desembargador Gonzaga - Cidade dos Funcionarios  Fortaleza - CE CEP 60822-578.
      </p>
  
      <p>
        Celular/Email 
        (85) 98598-4546
        arht.com
        
      </p>
  
      <p class="Funcionamento">
        Horários de Funcionamento <br>
        Seg : 08:00 ás 12:00 e 14:00 á 17:00            Quin: 08:00 ás 12:00 e 14:00 á 17:00
        Ter:08:00 ás 12:00 e 14:00 á 17:00              Sex: 08:00 ás 12:00 e 14:00 á 17:00
        Qua :08:00 ás 12:00 e 14:00 á 17:00             Sab: 08:00 ás 12:00 e 14:00 á 17:00
      </p>

    </div>
  </div>
</main>