<main>
  <app-header/>
  <div class="container-catalogo">
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>   
  </div>
  <div class="container-catalogo">
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>   
  </div>
  <div class="container-catalogo">
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>
    <div class="box-catalogo">
      <img src="../../../assets/corte.jpg" alt="" width="97">
      <p>Corte Degrade</p>
    </div>
  </div>
  <app-footer/>

</main>