.container-catalogo {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 25px;
  .box-catalogo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
      border-radius: 12px;
    }
  }
}

@media (min-width: 768px) {
  .container-catalogo {
    margin: 25px;
    gap: 30px;
    img {
      width: 190px;
    }
    
    .box-catalogo {

      p {
        font-size: 1.35rem;
      }
      gap: 15px;
      text-align: center;
    }
  }
}