.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 20px;
  padding: 10px 8px;
  
  
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-box);
    border-radius: 10px;
    margin-bottom: 20px;
    height: 48px;
    width: 80vw;
    gap: 20px;
    border: none;

    p {
      color: var(--text-principal);
      font-size: 19px;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
    }
  }
}

@media(min-width: 768px) {
  .box-container {
    .box {
      height: 30vh;
    }

  }
  
}