.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 20px;
  
  .box {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-box);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
    gap: 30px;
  }
}