:root {
  --primary-color: #000000;
  --text-color: hsl(0, 12%, 95%);
  --bg-red: #EF0B0B;
  --bg-color: #F6F6F6;
  --bg-box: #ffffffd5;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Covered By Your Grace", cursive;

}